<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="well">
		<div class="col-xs-12">
	  	  <%= link_to post do %>
			  <%= image_tag post.image.url(:medium), style: 'max-width: 100%' %>
			  <h3><%= post.title %></h3>
		  <% end %>
		  <strong><%= post.created_at.strftime('Posté le %y/%m/%d') %> par <%= link_to post.user, post.user %></strong>
		  <hr>
		  <p>
		  	<%= sanitize(truncate(post.content, length: 150)) %>
		  </p>
		  <hr>
		</div>
		<div class="col-xs-12">
		  <%= link_to 'Voir', post, class: 'btn btn-info' %>
		  <% if session[:user_id] && post.written_by?(User.find(session[:user_id])) %>
		    <%= link_to 'Modifier', edit_post_path(post), class: 'btn btn-info'  %></td>
		    <%= link_to 'Supprimer', post, method: :delete, class: 'btn btn-info', data: { confirm: 'Are you sure?' } %>
		  <% end %>
		</div>
		<div class="clearfix"></div>
	</div>
</div>